implementasi-iot-pada-ec2-cloud-aws/images/flows-smart-room.json
[{"id":"47cca2ee.0356bc","type":"tab","label":"Lobby","disabled":false,"info":""},{"id":"313f4f4a.9fc3e","type":"tab","label":"ruang kajur","disabled":false,"info":""},{"id":"57d30a2.377faf4","type":"tab","label":"ruang dosen","disabled":false,"info":""},{"id":"463aac12.ade5f4","type":"tab","label":"About","disabled":false,"info":""},{"id":"8786a586.db2338","type":"tab","label":"Room Control","disabled":false,"info":""},{"id":"dab34601.9f2cc8","type":"mqtt-broker","name":"Mqtt Server AWS","broker":"broker.sinaungoding.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8044724f.16b18","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Workshop IoT JTI","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":75,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6653746b.94990c","type":"ui_group","name":"Time Series Data Logger Sensor","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"790a12c.a6bbfec","type":"ui_group","name":"Institusi","tab":"","order":1,"disp":false,"width":"12","collapse":false},{"id":"4341e3f3.b22ebc","type":"mqtt-broker","name":"Test mosquitto server","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"90bd5794.b14858","type":"ui_group","name":"Sensor Suhu & Kelembaban DHT11","tab":"","order":2,"disp":true,"width":12,"collapse":false},{"id":"e20c1837.c1c318","type":"ui_group","name":"Sensor Cahaya LDR | Sensor Jarak Ultrasonic HC-SR04","tab":"","order":3,"disp":true,"width":"12","collapse":false},{"id":"1da8b0cd.fb9bdf","type":"ui_spacer","name":"spacer","group":"90bd5794.b14858","order":2,"width":12,"height":1},{"id":"61e604c3.d4e64c","type":"ui_spacer","name":"spacer","group":"e20c1837.c1c318","order":3,"width":4,"height":1},{"id":"eaafab51.be6288","type":"ui_group","name":"Sensor Cahaya LDR | Sensor Jarak Ultrasonic HC-SR04","tab":"","order":4,"disp":true,"width":"12","collapse":false},{"id":"ec204b34.c69ca8","type":"ui_group","name":"LED Aktif / Non Aktif","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"7a44e288.c5a21c","type":"ui_group","name":"Relay","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"abb59555.576c08","type":"ui_group","name":"Putaran FAN","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"eafe782d.f2f918","type":"ui_group","name":"Speaker Piezo","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"7ba8ab2f.c0c9b4","type":"ui_spacer","name":"spacer","group":"ec204b34.c69ca8","order":2,"width":2,"height":1},{"id":"67aa05a6.dcbd5c","type":"ui_spacer","name":"spacer","group":"ec204b34.c69ca8","order":3,"width":2,"height":1},{"id":"9ec8b304.368cc","type":"ui_group","name":"Home Floor Plan","tab":"","order":1,"disp":true,"width":"15","collapse":false},{"id":"ee848f25.39491","type":"mqtt-broker","name":"local server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e5901d06.5e0ad","type":"ui_group","name":"Monitoring","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"4170a94.8ff0458","type":"ui_group","name":"Cahaya","tab":"","order":3,"disp":true,"width":"6","collapse":true},{"id":"f8b3d598.dd5308","type":"ui_group","name":"Suhu","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"2a023db3.0144f2","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"JTI Smart Room","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"db5f85b.315ac78","type":"ui_tab","name":"Home","icon":"fa-home","order":1,"disabled":false,"hidden":false},{"id":"b215aba2.2bdff8","type":"ui_group","name":"Ruang Dosen","tab":"db5f85b.315ac78","order":3,"disp":true,"width":6,"collapse":true},{"id":"e0568411.518ca8","type":"ui_group","name":"Lobby","tab":"db5f85b.315ac78","order":1,"disp":true,"width":"6","collapse":true},{"id":"5f61bce2.2e6e54","type":"ui_tab","name":"About","icon":"fa-info-circle","order":3,"disabled":false,"hidden":false},{"id":"218120f7.293de","type":"ui_tab","name":"Room Control","icon":"fa-gears","order":2,"disabled":false,"hidden":false},{"id":"f293a6ab.168c78","type":"ui_group","name":"Lampu","tab":"218120f7.293de","order":1,"disp":true,"width":"6","collapse":true},{"id":"a4a2ae04.fc73c","type":"ui_group","name":"JTI Smart Room","tab":"5f61bce2.2e6e54","order":1,"disp":true,"width":"10","collapse":false},{"id":"57d83304.4099cc","type":"ui_group","name":"Ruang Kajur","tab":"db5f85b.315ac78","order":2,"disp":true,"width":"6","collapse":true},{"id":"65c4829e.5cc07c","type":"ui_group","name":"AC","tab":"218120f7.293de","order":2,"disp":true,"width":"6","collapse":true},{"id":"8a078d6b.2f48d","type":"ui_gauge","z":"47cca2ee.0356bc","name":"mon-temp-lobby","group":"e0568411.518ca8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":180,"wires":[]},{"id":"ab90278f.3227a8","type":"ui_gauge","z":"313f4f4a.9fc3e","name":"mon-temp-kajur","group":"57d83304.4099cc","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":180,"wires":[]},{"id":"ea096252.3e08","type":"ui_chart","z":"47cca2ee.0356bc","name":"ch-hum-lobby","group":"e0568411.518ca8","order":2,"width":0,"height":0,"label":"Humadity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":240,"wires":[[]]},{"id":"5bd340ce.90e2e","type":"ui_chart","z":"313f4f4a.9fc3e","name":"ch-hum-kajur","group":"57d83304.4099cc","order":2,"width":0,"height":0,"label":"Humadity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":560,"y":300,"wires":[[]]},{"id":"f943ece9.d48d7","type":"ui_chart","z":"57d30a2.377faf4","name":"ch-hum-dosen","group":"b215aba2.2bdff8","order":2,"width":0,"height":0,"label":"Humadity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":440,"y":260,"wires":[[]]},{"id":"7ffa333d.2ae3cc","type":"ui_gauge","z":"57d30a2.377faf4","name":"mon-temp-dosen","group":"b215aba2.2bdff8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":200,"wires":[]},{"id":"4912eb0f.d95a54","type":"inject","z":"57d30a2.377faf4","name":"rand-temp-dosen","props":[],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":200,"wires":[["adf7503.3aa5bb"]]},{"id":"adf7503.3aa5bb","type":"function","z":"57d30a2.377faf4","name":"","func":"var rand = Math.floor(Math.random()*101);\n// node.warn(\"Random: \"+rand);\nmsg.payload = rand;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["7ffa333d.2ae3cc"]]},{"id":"c9f9cb1.c07e538","type":"inject","z":"57d30a2.377faf4","name":"rand-hum-dosen","props":[],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":170,"y":260,"wires":[["fe09d84.3081628"]]},{"id":"fe09d84.3081628","type":"function","z":"57d30a2.377faf4","name":"","func":"var msg = {};\nvar msg1 = {};\n\nmsg.payload = Math.floor(Math.random()*101);\nmsg.topic = \"Hum1\";\n// node.warn(\"Random: \"+rand);\n\nmsg1.payload = Math.floor(Math.random()*101);\nmsg1.topic = \"Hum2\";\n\nreturn [msg,msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":300,"y":360,"wires":[["f943ece9.d48d7"],["f943ece9.d48d7"]]},{"id":"6efb0ff1.b687f","type":"inject","z":"313f4f4a.9fc3e","name":"rand-temp-kajur","props":[],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":180,"wires":[["8e975597.2df158"]]},{"id":"8e975597.2df158","type":"function","z":"313f4f4a.9fc3e","name":"","func":"var rand = Math.floor(Math.random()*101);\n// node.warn(\"Random: \"+rand);\nmsg.payload = rand;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":100,"wires":[["ab90278f.3227a8"]]},{"id":"64a4e595.5b64fc","type":"inject","z":"313f4f4a.9fc3e","name":"rand-hum-kajur","props":[],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":240,"wires":[["af56dad9.d7cd28"]]},{"id":"af56dad9.d7cd28","type":"function","z":"313f4f4a.9fc3e","name":"","func":"msg.payload = Math.floor(Math.random()*101);\nmsg.topic = \"Hum1\";\n// node.warn(\"Random: \"+rand);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["5bd340ce.90e2e"]]},{"id":"f9d23699.be1ec8","type":"inject","z":"47cca2ee.0356bc","name":"rand-hum-lobby","props":[],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":240,"wires":[["1f937253.130e2e"]]},{"id":"1f937253.130e2e","type":"function","z":"47cca2ee.0356bc","name":"func random","func":"var msg = {};\nvar msg1 = {};\nvar msg2 = {};\n\nmsg.payload = Math.floor(Math.random()*101);\nmsg.topic = \"Hum1\";\n// node.warn(\"Random: \"+rand);\n\nmsg1.payload = Math.floor(Math.random()*101);\nmsg1.topic = \"Hum2\";\n\nmsg2.payload = Math.floor(Math.random()*101);\nmsg2.topic = \"Hum3\";\nreturn [msg,msg1,msg2];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":410,"y":300,"wires":[["ea096252.3e08"],["ea096252.3e08"],["ea096252.3e08"]]},{"id":"5c2af5fc.80315c","type":"inject","z":"47cca2ee.0356bc","name":"rand-temp-lobby","props":[],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":180,"wires":[["3a758f0f.532cc"]]},{"id":"3a758f0f.532cc","type":"function","z":"47cca2ee.0356bc","name":"","func":"var rand = Math.floor(Math.random()*101);\n// node.warn(\"Random: \"+rand);\nmsg.payload = rand;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["8a078d6b.2f48d"]]},{"id":"94bfe60b.10a5b8","type":"ui_text","z":"463aac12.ade5f4","group":"a4a2ae04.fc73c","order":0,"width":0,"height":0,"name":"lb-about","label":"","format":"Merupakan aplikasi monitoring dan control perangkat IoT di lingkungan Jurusan Teknologi Informasi karya mahasiswa kelas IoT","layout":"col-center","x":320,"y":120,"wires":[]},{"id":"d306536f.dcfe4","type":"ui_switch","z":"8786a586.db2338","name":"sw-lampu","label":"Lampu 1","tooltip":"","group":"f293a6ab.168c78","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":200,"y":100,"wires":[["3330d815.ab50c8"]]},{"id":"ea59d738.5b37c8","type":"ui_text","z":"8786a586.db2338","group":"f293a6ab.168c78","order":0,"width":0,"height":0,"name":"lb-hasil","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":520,"y":100,"wires":[]},{"id":"3330d815.ab50c8","type":"function","z":"8786a586.db2338","name":"parsing","func":"var val = msg.payload?\"Nyala\":\"Mati\";\nnode.warn(\"value: \"+val);\nnode.warn(\"type: \"+typeof val);\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":100,"wires":[["ea59d738.5b37c8"]]},{"id":"e46d627f.12506","type":"ui_switch","z":"8786a586.db2338","name":"sw-lampu2","label":"Lampu 2","tooltip":"","group":"f293a6ab.168c78","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":190,"y":160,"wires":[["781a91c1.e1b4f"]]},{"id":"7cdb583a.9b48d8","type":"ui_text","z":"8786a586.db2338","group":"f293a6ab.168c78","order":0,"width":0,"height":0,"name":"lb-hasil","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":520,"y":160,"wires":[]},{"id":"781a91c1.e1b4f","type":"function","z":"8786a586.db2338","name":"parsing","func":"var val = msg.payload?\"Nyala\":\"Mati\";\nnode.warn(\"value: \"+val);\nnode.warn(\"type: \"+typeof val);\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["7cdb583a.9b48d8"]]},{"id":"497d6f8d.2d9","type":"ui_slider","z":"8786a586.db2338","name":"slider-ac","label":"AC 1","tooltip":"","group":"65c4829e.5cc07c","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"30","step":1,"x":200,"y":300,"wires":[["ecebf565.54f718"]]},{"id":"d57a7854.7105f8","type":"ui_switch","z":"8786a586.db2338","name":"sw-lampu3","label":"Lampu 3","tooltip":"","group":"f293a6ab.168c78","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":190,"y":220,"wires":[["5020aa00.d1d474"]]},{"id":"854a00fd.0873b","type":"ui_text","z":"8786a586.db2338","group":"f293a6ab.168c78","order":0,"width":0,"height":0,"name":"lb-hasil","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":520,"y":220,"wires":[]},{"id":"5020aa00.d1d474","type":"function","z":"8786a586.db2338","name":"parsing","func":"var val = msg.payload?\"Nyala\":\"Mati\";\nnode.warn(\"value: \"+val);\nnode.warn(\"type: \"+typeof val);\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["854a00fd.0873b"]]},{"id":"ecebf565.54f718","type":"ui_text","z":"8786a586.db2338","group":"65c4829e.5cc07c","order":2,"width":0,"height":0,"name":"lb-ac","label":"Suhu","format":"{{msg.payload}}","layout":"col-center","x":350,"y":300,"wires":[]},{"id":"aa7f0b9b.1c0708","type":"ui_text","z":"8786a586.db2338","group":"65c4829e.5cc07c","order":4,"width":0,"height":0,"name":"lb-ac","label":"Suhu","format":"{{msg.payload}}","layout":"col-center","x":350,"y":360,"wires":[]},{"id":"44f18020.34a7c","type":"ui_slider","z":"8786a586.db2338","name":"slider-ac1","label":"AC 2","tooltip":"","group":"65c4829e.5cc07c","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"30","step":1,"x":200,"y":360,"wires":[["aa7f0b9b.1c0708"]]},{"id":"2d7bf788.bc9aa8","type":"ui_text","z":"8786a586.db2338","group":"65c4829e.5cc07c","order":6,"width":0,"height":0,"name":"lb-ac","label":"Suhu","format":"{{msg.payload}}","layout":"col-center","x":350,"y":420,"wires":[]},{"id":"9e312fef.d8a84","type":"ui_slider","z":"8786a586.db2338","name":"slider-ac2","label":"AC 3","tooltip":"","group":"65c4829e.5cc07c","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"30","step":1,"x":200,"y":420,"wires":[["2d7bf788.bc9aa8"]]}]