implementasi-iot-pada-ec2-cloud-aws/images/flows.json
[{"id":"3872d49.c29552c","type":"tab","label":"workshop iot","disabled":false,"info":""},{"id":"f3a8f167.e06b9","type":"ui_text","z":"3872d49.c29552c","group":"6653746b.94990c","order":1,"width":2,"height":"2","name":"txt-temp","label":"<i class=\"fa fa-thermometer-empty\" aria-hidden=\"true\"></i> Temperatur","format":"{{msg.payload}}","layout":"col-center","x":600,"y":60,"wires":[]},{"id":"a2b952c1.cb3d5","type":"ui_text","z":"3872d49.c29552c","group":"6653746b.94990c","order":2,"width":2,"height":"2","name":"txt-hum","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"></i> Kelembaban","format":"{{msg.payload}} H","layout":"col-center","x":600,"y":100,"wires":[]},{"id":"fb1a8646.2d6c58","type":"ui_text","z":"3872d49.c29552c","group":"6653746b.94990c","order":3,"width":4,"height":"2","name":"txt-ldr","label":"<i class=\"fa fa-lightbulb-o\" aria-hidden=\"true\"></i> Intensitas Cahaya","format":"{{msg.payload}} Lux","layout":"col-center","x":590,"y":140,"wires":[]},{"id":"45ba006b.935ae","type":"ui_text","z":"3872d49.c29552c","group":"6653746b.94990c","order":4,"width":4,"height":"2","name":"txt-ultrasonic","label":"<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> Jarang Penghalang","format":"{{msg.payload}} CM","layout":"col-center","x":610,"y":180,"wires":[]},{"id":"80ef87f2.e0c508","type":"mqtt in","z":"3872d49.c29552c","name":"mqtt-dht","topic":"/dht","qos":"2","datatype":"auto","broker":"ee848f25.39491","x":120,"y":120,"wires":[["faed9b30.d15778","add9185a.c9cc38","224dcfae.cd8d9"]]},{"id":"faed9b30.d15778","type":"debug","z":"3872d49.c29552c","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"576eed94.92e954","type":"mqtt in","z":"3872d49.c29552c","name":"mqtt-ldr","topic":"/ldr","qos":"2","datatype":"auto","broker":"ee848f25.39491","x":120,"y":180,"wires":[["faed9b30.d15778","add9185a.c9cc38"]]},{"id":"cdfc5278.84aa9","type":"mqtt in","z":"3872d49.c29552c","name":"mqtt-ultrasonic","topic":"/sr04","qos":"2","datatype":"auto","broker":"ee848f25.39491","x":100,"y":240,"wires":[["faed9b30.d15778","add9185a.c9cc38"]]},{"id":"689323e4.9b0fbc","type":"mqtt in","z":"3872d49.c29552c","name":"mqtt-remote","topic":"/remoteir","qos":"2","datatype":"auto","broker":"ee848f25.39491","x":110,"y":300,"wires":[["faed9b30.d15778","add9185a.c9cc38"]]},{"id":"add9185a.c9cc38","type":"function","z":"3872d49.c29552c","name":"","func":"var topic = msg.topic;\nvar payload = msg.payload;\n\nif(topic==\"/dht\"){\n    var dht = JSON.parse(payload);\n    var msg1 = {payload: dht.kelembaban};\n    msg.payload = dht.suhu;\n    // node.warn(msg);\n    // node.warn(msg1);\n    return [msg,msg1];\n}else if(topic==\"/ldr\"){\n    return [null,null,msg];\n}else if(topic==\"/sr04\"){\n    return [null,null,null,msg];\n}else if(topic==\"/remoteir\"){\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":360,"y":200,"wires":[["f3a8f167.e06b9","a2fa81ce.4b16e"],["a2b952c1.cb3d5","527c6344.95cfac"],["fb1a8646.2d6c58","c5542fe4.4752a"],["45ba006b.935ae","dec55ab9.a8d268"]]},{"id":"1a2aad8c.a3c6d2","type":"ui_chart","z":"3872d49.c29552c","name":"chart-temp","group":"90bd5794.b14858","order":1,"width":"6","height":"4","label":"Data Logger Temperatur - Line Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f75b2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":370,"y":360,"wires":[[]]},{"id":"494c7c7d.7e0aa4","type":"ui_chart","z":"3872d49.c29552c","name":"chart-hum","group":"90bd5794.b14858","order":3,"width":"6","height":"4","label":"Data Logger Kelembaban - Line Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":370,"y":400,"wires":[[]]},{"id":"a2fa81ce.4b16e","type":"ui_gauge","z":"3872d49.c29552c","name":"gauge-temp","group":"e20c1837.c1c318","order":1,"width":"6","height":"4","gtype":"gage","title":"<i class=\"fa fa-thermometer-empty\" aria-hidden=\"true\"></i> Speed Gauge Temperatur","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":240,"wires":[]},{"id":"527c6344.95cfac","type":"ui_gauge","z":"3872d49.c29552c","name":"gauge-hum","group":"e20c1837.c1c318","order":2,"width":"6","height":"4","gtype":"gage","title":"<i class=\"fa fa-tint\" aria-hidden=\"true\"></i> Speed Gauge Kelembaban","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":280,"wires":[]},{"id":"c5542fe4.4752a","type":"ui_chart","z":"3872d49.c29552c","name":"chart-ldr","group":"eaafab51.be6288","order":1,"width":"6","height":"4","label":"Data Logger Intensitas Cahaya","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f75b2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":360,"wires":[[]]},{"id":"dec55ab9.a8d268","type":"ui_chart","z":"3872d49.c29552c","name":"chart-ultrasonic","group":"eaafab51.be6288","order":3,"width":"6","height":"4","label":"Data Logger Jarak Penghalang","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":620,"y":400,"wires":[[]]},{"id":"5465fdf2.f16054","type":"ui_slider","z":"3872d49.c29552c","name":"slider-led","label":"","tooltip":"","group":"ec204b34.c69ca8","order":1,"width":6,"height":2,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"9","step":1,"x":860,"y":120,"wires":[["d0a7222a.55f2b"]]},{"id":"a3e92237.cecc6","type":"ui_slider","z":"3872d49.c29552c","name":"slider-fan","label":"","tooltip":"","group":"abb59555.576c08","order":1,"width":6,"height":2,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"25","x":860,"y":180,"wires":[["51ff8d25.ae9e64"]]},{"id":"12b89926.c62e67","type":"ui_switch","z":"3872d49.c29552c","name":"switch-relay","label":"Relay ON/OFF","tooltip":"","group":"7a44e288.c5a21c","order":1,"width":6,"height":2,"passthru":true,"decouple":"false","topic":"relay","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":850,"y":260,"wires":[["e1ac71ae.c2187"]]},{"id":"a9e33872.c3a998","type":"ui_switch","z":"3872d49.c29552c","name":"switch-speaker","label":"Speaker ON/OFF","tooltip":"","group":"eafe782d.f2f918","order":1,"width":6,"height":2,"passthru":true,"decouple":"false","topic":"speaker","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":840,"y":320,"wires":[["14f0c7f3.fbf9f8"]]},{"id":"d0a7222a.55f2b","type":"mqtt out","z":"3872d49.c29552c","name":"mqtt-led","topic":"/ledanim","qos":"2","retain":"true","broker":"ee848f25.39491","x":1040,"y":120,"wires":[]},{"id":"51ff8d25.ae9e64","type":"mqtt out","z":"3872d49.c29552c","name":"mqtt-fan","topic":"/fanpwm","qos":"2","retain":"true","broker":"ee848f25.39491","x":1040,"y":180,"wires":[]},{"id":"e1ac71ae.c2187","type":"function","z":"3872d49.c29552c","name":"","func":"var val = msg.payload?\"ON\":\"OFF\";\nmsg.payload = val;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":260,"wires":[["d02d3c0d.e7c89","aff852ee.44cc2"]]},{"id":"d02d3c0d.e7c89","type":"debug","z":"3872d49.c29552c","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":160,"wires":[]},{"id":"aff852ee.44cc2","type":"mqtt out","z":"3872d49.c29552c","name":"mqtt-relay","topic":"/relay","qos":"2","retain":"true","broker":"ee848f25.39491","x":1230,"y":260,"wires":[]},{"id":"9b3ff3c8.d9269","type":"mqtt out","z":"3872d49.c29552c","name":"mqtt-speaker","topic":"/piezo","qos":"2","retain":"true","broker":"ee848f25.39491","x":1240,"y":320,"wires":[]},{"id":"14f0c7f3.fbf9f8","type":"function","z":"3872d49.c29552c","name":"","func":"var val = msg.payload?\"ON\":\"OFF\";\nmsg.payload = val;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":320,"wires":[["9b3ff3c8.d9269"]]},{"id":"224dcfae.cd8d9","type":"function","z":"3872d49.c29552c","name":"","func":"var payload = msg.payload;\nlet d= new Date();\nlet timestamp=d.getTime();\nvar dht = JSON.parse(payload);\nvar temp_msg = {topic: \"suhu\", payload: dht.suhu};\nvar msg1 = {topic: \"kelembaban\", payload: dht.kelembaban};\nreturn [temp_msg,msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":360,"y":260,"wires":[["1a2aad8c.a3c6d2"],["494c7c7d.7e0aa4"]]},{"id":"c51a716e.31bdd","type":"ui_template","z":"3872d49.c29552c","group":"790a12c.a6bbfec","name":"template-desc","order":1,"width":"0","height":"0","format":"<h1>Workshop IoT Polinema</h1><br><br>\n\nLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper quis lectus nulla at volutpat diam. Adipiscing tristique risus nec feugiat in. Feugiat nisl pretium fusce id velit ut tortor. Aliquam etiam erat velit scelerisque in dictum. Purus ut faucibus pulvinar elementum integer enim. Vitae justo eget magna fermentum iaculis eu. Sapien eget mi proin sed. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. In iaculis nunc sed augue. Varius vel pharetra vel turpis nunc. Leo in vitae turpis massa. Pretium viverra suspendisse potenti nullam ac tortor vitae.<br>\n\nElementum facilisis leo vel fringilla est ullamcorper eget. In metus vulputate eu scelerisque felis imperdiet proin. Porttitor leo a diam sollicitudin tempor id. In metus vulputate eu scelerisque felis imperdiet. In arcu cursus euismod quis. Sed odio morbi quis commodo odio. Tristique senectus et netus et malesuada fames ac turpis egestas. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Lorem donec massa sapien faucibus et. Vel facilisis volutpat est velit egestas dui. Rhoncus urna neque viverra justo nec ultrices dui sapien. Turpis in eu mi bibendum neque egestas congue quisque. Suspendisse sed nisi lacus sed viverra<br> tellus in hac. Blandit cursus risus at ultrices mi. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor.\n\nLobortis mattis aliquam faucibus purus in massa tempor nec. Imperdiet massa tincidunt nunc pulvinar sapien. Tincidunt arcu non sodales neque. Commodo sed egestas egestas fringilla. Semper eget duis at tellus at urna condimentum mattis pellentesque. Vulputate ut pharetra sit amet aliquam id diam maecenas. Massa tempor nec feugiat nisl. Massa eget egestas purus viverra accumsan in nisl nisi. Amet venenatis urna cursus eget. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque.","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":840,"y":380,"wires":[[]]},{"id":"6653746b.94990c","type":"ui_group","name":"Time Series Data Logger Sensor","tab":"235409df.9d7e16","order":1,"disp":true,"width":"12","collapse":false},{"id":"ee848f25.39491","type":"mqtt-broker","name":"local server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"90bd5794.b14858","type":"ui_group","name":"Sensor Suhu & Kelembaban DHT11","tab":"235409df.9d7e16","order":2,"disp":true,"width":12,"collapse":false},{"id":"e20c1837.c1c318","type":"ui_group","name":"Sensor Cahaya LDR | Sensor Jarak Ultrasonic HC-SR04","tab":"235409df.9d7e16","order":3,"disp":true,"width":"12","collapse":false},{"id":"eaafab51.be6288","type":"ui_group","name":"Sensor Cahaya LDR | Sensor Jarak Ultrasonic HC-SR04","tab":"235409df.9d7e16","order":4,"disp":true,"width":"12","collapse":false},{"id":"ec204b34.c69ca8","type":"ui_group","name":"LED Aktif / Non Aktif","tab":"c9ae2787.73e468","order":1,"disp":true,"width":"8","collapse":false},{"id":"abb59555.576c08","type":"ui_group","name":"Putaran FAN","tab":"c9ae2787.73e468","order":3,"disp":true,"width":"8","collapse":false},{"id":"7a44e288.c5a21c","type":"ui_group","name":"Relay","tab":"c9ae2787.73e468","order":2,"disp":true,"width":"8","collapse":false},{"id":"eafe782d.f2f918","type":"ui_group","name":"Speaker Piezo","tab":"c9ae2787.73e468","order":4,"disp":true,"width":"8","collapse":false},{"id":"790a12c.a6bbfec","type":"ui_group","name":"Institusi","tab":"f2dd92f0.4773f","order":1,"disp":false,"width":"12","collapse":false},{"id":"235409df.9d7e16","type":"ui_tab","name":"Monitoring","icon":"fa-home","order":1,"disabled":false,"hidden":false},{"id":"c9ae2787.73e468","type":"ui_tab","name":"Controlling","icon":"fa-cogs","order":2,"disabled":false,"hidden":false},{"id":"f2dd92f0.4773f","type":"ui_tab","name":"Contact","icon":"fa-address-book","order":3,"disabled":false,"hidden":false}]